#include <dt-bindings/pwm/pwm.h>
/ {

    pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms =	<&pwm0 13>, 
					<&pwm0 11>,
					<&pwm0 2>,
					<&pwm0 15>;
		};
	};
};

&pwm0 {
	status = "okay";
	ch0-pin = < 13 >;
	ch1-pin = < 11 >;
	ch2-pin = < 2 >;
	ch3-pin = < 15 >;
	/delete-property/ ch0-inverted;
};

&adc {
	status = "okay";
	io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
};

